{% extends "layout.html" %} 

{% block main %}
    <div class="container p-2">
        {% include "logo.html" %}

        <div class="row">
            <div class="col-12 col-md-10 m-auto bg-light bg-opacity-25 rounded-3 p-2">
                <div class="bg-dark bg-opacity-50 rounded-3 text-light p-3">
                    {% include "headerAdmin.html" %}
                    {% include "userMessage.html" %}

                    <main>
                        <div class="row">
                            <div class="col">
        
                                {% block action %}
                                {% endblock %}
            
                            </div>
                        </div>
                    </main>

                </div>

                {% include "footerAdmin.html" %}
            </div>
        </div>
    </div>
{% endblock %}
