body {
    background-image: url("/pictures/bg.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: Verdana, Arial, Tahoma, Helvetica, sans-serif;
    min-width: 300px;
}
