{% extends "layout.html" %} 

{% block main %}
<main class="d-flex align-items-center">
    <div class="container">
        <div class="row p-2">
            <div class="col col-md-6 col-lg-6 m-auto bg-light bg-opacity-50 rounded-3 p-2">
                <form method="post">
                    <div class="card border-3 bg-dark bg-opacity-50 text-light">
                        <div class="card-header bg-light bg-opacity-25 fs-5">
                            <i class="bi bi-gear-wide-connected"></i>
                            AccTools: Zone d'administration
                        </div>
                        <div class="card-body bg-transparent">
                            <div class="card-title fs-5">Veuillez entrer vos données d'identification</div>
                            <p class="card-text">
                                <div class="input-group text-dark mt-2">
                                    <i class="bi bi-person input-group-text"></i>
                                    <div class="form-floating">
                                        <input type="text" name="username" placeholder="Utilisateur" value="{{ username }}" class="form-control" required>
                                        <label for="username">Utilisateur</label>
                                    </div>
                                </div>
                                <div class="input-group text-dark mt-3">
                                    <i class="bi bi-key input-group-text"></i> 
                                    <div class="form-floating">
                                        <input type="password" name="password" placeholder="Mot de passe" value="{{ password }}" class="form-control" required>
                                        <label for="password">Mot de passe</label>
                                    </div>
                                </div>
                                <!--
                                <div class="form-check form-switch mt-3">
                                    <input class="form-check-input" type="checkbox" role="switch" id="rememberMe">
                                    <label class="form-check-label" for="rememberMe">Se souvenir de moi</label>
                                </div>
                                -->
                                {% if badPassword %}
                                <div class="alert alert-danger text-center mt-3" role="alert">
                                    Nom de compte ou mot de passe incorrect
                                </div>
                                {% endif %}
                                <div class="text-center mt-3 mb-2">
                                    <div class="btn-group" role="group">
                                        <a href="{{ url_index }}" class="btn btn-primary" role="button">Acceuil</a>
                                        <button type="submit" name="loggin" class="btn btn-primary">Connexion</button>
                                    </div>
                                </div>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}
